.sort-selected:after {
  content: '\f00c';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0 0 0 10px;
  display: inline-block;
}
.dropdown-item {
  cursor: pointer;
}